html {
  font-family: sans-serif;
}

body {
  background: #ffffaf;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1bacbf;
    color: #FFFFFF;
  }
}

.main {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

li {
  margin: 0 10px;
}

a {
  color: #999;
  text-decoration: none;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #999;
  background: #fff;
  border-top: 1px solid #e5e7eb;
}

.footer a:hover {
  color: #000;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }

  /* スマホ用コンテンツを非表示 */
  .mobile-content {
    display: none;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 10px;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin: 5px 0;
  }

  /* PC用コンテンツを非表示 */
  .pc-content {
    display: none;
  }
}
